.prewiew {
    padding: 250px 0 150px 0;
    width: 100%;
    background: url('../img/home-bg.jpg') center center no-repeat;
    -webkit-background-size: center; 
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(43, 46, 74, .95);
        z-index: 1;

    }
}


    .prewiew-descr-wrap {
        text-align: center;
        position: relative;
        width: 970px;
        z-index: 2;
        margin: 0 auto;
    }

        .prewiew-title {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 4.0625rem;
            color: #ffffff;
            padding: 0;
            margin: 0 0 35px 0;
        }

        .prewiew-descr {
            color:#f5f5f6;
            font-size: 1.375rem;
            line-height: 2.0625rem;
            padding: 0;
            margin: 0 0 70px 0;
            font-weight: 400;
            
        }