.works-gallery {
    padding-bottom: 100px;
}

.gallery__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery__item {
    width: 25%;
    position: relative;
    overflow: hidden;
    transition: display .2s ease-in-out;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(232, 69, 69, .9);
            width: 100%;
            height: 100%;
            display: none;
        }
}
    .gallery__item:hover.gallery__item::before {
        display: block;
    }

.descr-wrap-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
    .gallery__item:hover .descr-wrap-hover {
        opacity: 1;
    }

    .gallery__item:hover .title-hover, .gallery__item:hover .descr-hover {
        transform: translateX(0);
        
    }

    .title-hover {
        color: #fff;
        margin: 0 0 10px 0;
        padding: 0;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;
    }

    .descr-hover {
        @include descrText;
        color: #fff;
        transform: translateX(100%);
        transition: transform .3s ease-in-out;
    }


.gallery-image {
    width: 100%;
    display: block;
}

