* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

.main-content {
    flex-grow: 1;
}

/***
*
* HEADER
*
***/
    
    .main-header {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        padding: 20px 50px;
        background: rgba(255, 255, 255, 0.1);
    }

    .header-wrap {
      @include flexcontSpace;
    } 
    
        .logo__link {
            font-weight: 600;
            font-size: 2.9rem;
            color: #ffffff;
        }

        .fa-search {
            font-size: 48px;
            color: #ffffff;
            cursor: pointer;
        }


        /***
        *
        * SEARCH WINDOW
        *
        ***/

        .search__window {
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            background: #7e31c0; /* Old browsers */
            background: -moz-linear-gradient(top, #7e31c0 0%, #e192ff 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #7e31c0 0%,#e192ff 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #7e31c0 0%,#e192ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e31c0', endColorstr='#e192ff',GradientType=0 ); /* IE6-9 */
            background-size: cover;
            border: 1px solid #ffffff;
            border-radius: 10px;
            z-index: 99;
            opacity: 0.8;
            display: none;
            padding: 60px 50px;
            transition: opacity .3s ease-in
        }

            .search__wrap {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                
            }

            .input-wrap {
                @include flexcontSpace;
               
            }
            .input-wrap:not(:last-child) {
                margin-bottom: 40px;
            }
            .search-label {
                font-family: 'Montserrat', sans-serif; 
                font-size: 1rem;
                color: #ffffff;
                font-weight: 300;
                margin-right: 25px;
            }

            .search-label:hover {
                text-decoration: underline;
            }
            .search-input {
                border: none;
                background: none;
                background: rgba(255, 255, 255, 0.3);
                border-radius: 5px;
                height: 30px;
            }

           

        .search__owerlay {
            position: absolute;
            width: 100%;
            height: 100vh;
            background: rgba(255, 255, 255, 0.8);
            top: 0;
            left: 0;
            z-index: 98;
            display: none;
            transition: display .2s ease-in-out;
        }

        .fa-times {
            font-size: 48px;
            color: #8538c4;
            position: relative;
            z-index: 99;
            cursor: pointer;
        }

        .search-open,
        .search-close {
            display: none;
        }

        .search-open:checked ~ .search__window {
            display: block;
        }
        .search-open:checked ~ .search__owerlay {
            display: block;
        }
        .search-open:checked ~ .search-open__btn {
            display: none;
        }

         .search-close:checked ~ .search-close__btn {
             display: none;
         }
        
         .search-input:focus {
            background:rgba(255, 255, 255, 0.7);
         }
        

/***
*
* MAIN CONTENT
*
***/

.desc-wrap {
   margin: auto;
   z-index: 97;
   text-align: center;
}

    .desc-title {
        font-family: 'Montserrat', sans-serif; 
        text-transform: uppercase;
        padding: 0;
        margin: 0 0 25px 0;
        font-weight: 500;
       color: #ffffff;
       font-size: 4.4rem; 
    }
    
    .desc-subtitle {
        font-family: 'Montserrat', sans-serif; 
        font-size: 2.94rem;
        padding: 0;
        margin: 0 0 65px 0;
        color: #ffffff;
        font-weight: 300;
    }

    .btn {
        font-family: 'Montserrat', sans-serif; 
        font-weight: 300;
        font-size: 1.47rem; 
        color: #ffffff;
        padding: 20px 35px;
        margin: 0;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 8px;
        transition: background .2s ease-in-out;
    }

        .btn:hover {
            background: rgba(255, 255, 255, 0.5);
        }

.main-content {
    @include flexcontSpace;
}
    
    .column-left--bacground {
        background: url('../img/left.jpg')center center no-repeat;
        background-size: cover;
        width: 50%;
        height: 100vh;
        position: relative;
        display: flex;
    }
        .column-left--bacground::before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1940ae; /* Old browsers */
            background: -moz-linear-gradient(top, #1940ae 0%, #48b1b0 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #1940ae 0%,#48b1b0 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #1940ae 0%,#48b1b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1940ae', endColorstr='#48b1b0',GradientType=0 ); /* IE6-9 */
            background-size: cover;
            opacity: 0.7;
        }

    .column-right--bacground {
        background: url('../img/right.jpg')center center no-repeat;
        background-size: cover;
        width: 50%;
        height: 100vh;
        position: relative;
        display: flex;
    }
        .column-right--bacground::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7e31c0+0,e192ff+100 */
            background: #7e31c0; /* Old browsers */
            background: -moz-linear-gradient(top, #7e31c0 0%, #e192ff 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #7e31c0 0%,#e192ff 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #7e31c0 0%,#e192ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e31c0', endColorstr='#e192ff',GradientType=0 ); /* IE6-9 */
            background-size: cover;
            opacity: 0.7;

        }
        

/***
*
* FOOTER
*
***/

.main-footer {
    width: 100%;
    background: #595f6f;
    padding: 30px 50px 30px 50px;
}

    .footer-wrap {
       display: flex;
       justify-content: space-between;
    }


    /*** Left-column
    ====================***/

    .column-left--footer {
        width: 50%;
        border-right: 1px solid #4d5362;
    }

            .logo-footer {
                margin: 0 0 25px 0; 
            }
                .footer-logo__link {
                    font-size: 1.65rem;
                    color: #ffffff;
                    padding: 0;
                }
    
            .left-column__title {
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 500;
                color: #b3b4b6;
                width: 70%;
                padding: 0;
                margin: 0 0 25px 0;
            }

            .left-column__subtitle {
                font-size: 1rem;
                font-weight: 300;
                color: #b3b4b6;
                padding: 0 0 2px 0;
                margin: 0 0 45px 0;
                width: 320px;
                position: relative;
            }

                .left-column__subtitle::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #90929a;
                    left: 0;
                    bottom: 0;
                }

            .copy {
                font-size: 0.89rem;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 300;
            }

    /*** Right-column
    ====================***/

    .column-right--footer {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
        
        .nav-footer {
            width: 60%;
            padding: 60px 45px; 
            border-right: 1px solid #4d5362;
        }

            .nav__list {
                display: flex;
                list-style: none;
                justify-content: space-between;
                flex-flow: row wrap;
                padding: 0;
                margin: -7.5px 0;
            }

            .nav__list-items {
                margin: 7.5px 10px;
                width: 110px;
                text-align: left;
            } 
          
            .nav__link {
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 300;
                color: #c3c3c3;
                transition: color .2s ease-in-out;
                display:  block;
                padding: 3px;
            }

            .nav__link:hover {
                color: #ffffff;
            }

        .contacts {
            padding: 25px 0 45px 40px;
        }    

            .contacts-title {
                padding: 0;
                margin: 0 0 10px 0;
                text-transform: uppercase;
                font-size: 0.96rem;
                font-weight: 300;
                color: #c3c3c3;
            }

            .footer-mail {
                width: 215px;
                height: 50px;
                border: none;
                background: none;
                background: rgba(129, 129, 129, 0.1);
                border-radius: 5px;
                margin: 0 0 40px 0;
                padding: 0 0 0 25px;
            }
                .footer-mail:focus{
                    background: rgba(129, 129, 129, 0.1);
                }

            .nav-social {
               @include flexcontSpace;
               padding: 0;
               margin: 0;
               list-style: none;
               width: 130px; 
               margin: 0 auto;
            }

            .nav-social__items {
                margin-right: 35px;
            }
                .nav-social__items:last-child {
                    margin-right: 0;
                }

            .nav-social__link {
                color: #a8abb3;
                font-size: 20px;
                transition: color .2s ease-in-out;
            }
            .nav-social__link:hover {
                color: #e4e6ee;
            }
            
            /* input settings placeholder
            ==================== */
            
                .footer-mail::-webkit-input-placeholder {
                    font-family: 'Montserrat', sans-serif; 
                    font-size: 0.8rem;
                    font-weight: 300;
                    color: rgba(255, 255, 255, 0.5);
                }
                .footer-mail:-moz-placeholder {
                    font-family: 'Montserrat', sans-serif; 
                    font-size: 0.8rem;
                    font-weight: 300;
                    color: rgba(255, 255, 255, 0.5);
                }
                .footer-mail::-moz-placeholder {
                    font-family: 'Montserrat', sans-serif; 
                    font-size: 0.8rem;
                    font-weight: 300;
                    color: rgba(255, 255, 255, 0.5);
                }
                .footer-mail:-ms-input-placeholder {
                    font-family: 'Montserrat', sans-serif; 
                    font-size: 0.8rem;
                    font-weight: 300;
                    color: rgba(255, 255, 255, 0.5);
                }          

                .footer-mail:focus {
                    background: rgba(255, 255, 255, 0.3);
                }