.page-btn {
    display: inline-block;
    background: $page-btn-bg;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 600;
    padding: 16px 50px;
    border-radius: 2px;
    transition: bacground .2s ease-in-out;
  }
  
    .page-btn:hover {
      background: $page-btn-bg-hover;
    }
