@import url('https://fonts.googleapis.com/css?family=Cardo:400i%7COpen+Sans:400,700%7CRaleway:300,400,600,700');
@import "misc/_vars.scss";
@import "libs/normalize/normalize";
@import "libs/fontawesome/font-awesome";
@import "misc/_mixin.scss";
@import "misc/_vars.scss";
@import "misc/_adjustment.scss";

@import "layout/components/_social.scss";
@import "layout/components/_page-btn.scss";
@import "layout/components/_responsive-menu.scss";

@import "layout/_prewiew.scss";
@import "layout/_header.scss";
@import "layout/_features.scss";
@import "layout/_works-gallery.scss";
@import "layout/_team.scss";
@import "layout/_clients-slider.scss";
@import "layout/_download.scss";
@import "layout/_footer.scss";
@import "misc/_responsive.scss";


