/* * {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
} */



/*-- adjustment settings
============================*/

* {
	box-sizing: border-box;
}



/* input settings */
/* *::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
} */


html, body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

}

body {
	background: #fff;
	font-family: 'Montserrat', sans-serif;
}

.maincontent {
	flex-grow: 1;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	position: relative;
	margin: 0 auto;
}

.flex-container {
	display: flex;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}


img {
	max-width: 100%;
	display: block;
}




/***
*
* RESPONSIVE MENU
*
***/

	.overlay {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0, 0, 0, .5);
		display: none;
	}

		.ovelayradio,
		.menuradio {
			display: none;
		}

	.fa-bars {
		display: none;
		background: none;
		border: none;
		font-size: 30px;
		color:#fff;
	}

	.menuradio:checked ~ .nav__list {
		transform: translateX(0);
	}

	.menuradio:checked ~ .overlay {
		display: block;
	}
	.ovelayradio:checked ~ .overlay {
		display: none;
	}


/*-- 
============================*/

.button {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.625rem;
	color: #333333;
	padding: 15px 40px;
	border: 1px solid #000;
	display: inline-block;
	transition: background .2s ease-in-out, 
				color .2s ease-in-out;
}

.button:hover {
	background: #162240;
	color: #fff;
}

.top-section {
	width: 100%;
	height: 100vh;
	background: url('../img/shutterstock.jpg')center center no-repeat;
	background-size: cover;
	overflow: hidden;
	display: flex;
	position: relative;

}
	.header {
		border-bottom: 1px solid rgba(255, 255, 255, .25);
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
	}


	.flex-container--header {
		justify-content: space-between;
		align-items: center;
	}

	.header-nav--wrap {
		display: flex;
	
	}

	.top-logo {
		font-family: 'Playfair Display', serif;
		font-weight: 900;
		font-size: 1.875rem;
		color: #fff;
	}

	

	.nav {
		margin-right: 50px;
		display: flex;
		align-items: center;
	}

	.nav__list {
		display: flex;
		margin: 0;
		padding: 0;

	}

	.social__list {
		display: flex;
		margin: 0;
		padding: 0;

	}

		.social__item {
			margin-right: 30px;
		}

		.social__item:last-child {
			margin-right: 0;
		}

		.social__link {
			color: rgba(255, 255, 255, .5);
			transition: color .2s ease-in-out;
		}
		.social__link:hover {
			color: #fff;
		}

	.nav__item {
		margin-right: 35px;
	}

	.nav__item:last-child {
		margin-right: 0;

	}
	.nav__link {
		text-transform: uppercase;
		font-weight: 300;
		color: #fff;
		font-size: 0.75rem;
		line-height: 1.2rem;
		letter-spacing: 0.8px;
	}
	.nav__link:hover {
		text-decoration: underline;
	}
	.social-header {
		padding: 23px 30px;
		border-left: 1px solid rgba(255, 255, 255, .25);
	}

	.desc-wrap {
		margin: auto;
		width: 650px;
		text-align: center;
	}
	.desc-litl-text {
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 1.875rem;
		color: #fff;
		text-transform: uppercase;
		margin: 0 0 25px 0;
		padding: 0;
	}

	.desc-text {
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		color: #fff;
		font-size: 3.25rem;
		margin: 0;
		padding: 0;
	}

	.scroll-btn {
		position: absolute;
		background: url('../img/scroll icon.png') center center no-repeat;
		width: 30px;
		height: 50px;
		left: 50%;
		bottom: 60px;
	}

.services {
	background: #f5f5f5;
	padding-top: 140px;
}

.services-works {
	padding-bottom: 60px;
	position: relative;
}

.work-desc--wrap {
	padding: 55px 55px 50px 70px;
	background: #fff;
	position: absolute;
	right: 0;
	bottom: 0;

}
.works-desc--title {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 1.75rem;
	color: #141414;
	line-height: 2.375rem;
	width: 485px;
	padding: 0;
	margin: 0 0 30px 0;
}

.works-desc--sibtitle {
	font-weight: 300;
	font-size: 1.125rem;
	line-height: 1.75rem;
	color: #333333;
	width: 515px;
	padding: 0;
	margin: 0 0 30px 0;
}

.our-services-wrap {
	display: flex;
	justify-content: space-between;
}

.our-services--desc {
	width: 530px;
	border-right: 1px solid rgba(51, 51, 51, .15);
}

.services-title {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 3rem;
	color: #141414;
	line-height: 2.375rem;
	padding: 0;
	margin: 0 0 50px 0;
}

.services-subtitle {
	font-weight: 300;
	font-size: 1.625rem;
	line-height: 2.625rem;
	color: #333333;
	padding: 0;
	margin: 0 0 55px 0;
	width: 440px;
	
}


.our-services {
	padding: 140px 0 135px 0;
}

.our-services--items {
	width: 50%; 
	padding: 0 33px 0 16px;
}

.services__items-title {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 1.25rem;
	color: #141414;
	line-height: 2rem;
	padding: 0;
	margin: 0 0 0 20px;
} 
.services__items-text {
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.75rem;
	color: #333333;
	padding: 0;
	margin: 0;
}

.services__list {
	padding: 0;
	margin: -35px 0;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
.services__items {
	width: 240px;
	margin: 35px 0;
}

.services-title--icon {
	display: flex;
	align-items: center;
	margin: 0 0 35px 0;
}

/***
*
* PROJECTS
*
***/

	.projects {
		padding: 90px 0 135px 0;
	}

		.projects-title {
			display: block;
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 3rem;
			color: #141414;
			line-height: 2.375rem;
			text-align: center;
			padding: 0;
			margin: 0 0 80px 0;
		}

		
	.projects-gallery__list {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: 0 0 90px 0;
	}

		.projects-gallery__item {
			border: 1px solid #e7e7e7;
			padding-bottom: 40px;
			transition: box-shadow .2s ease-in-out;
		}
		.projects-gallery__item:hover {
			box-shadow: 5px 5px 15px rgba(0, 0, 0, .12);
		}


	.img-wrap {
		position: relative;
	}

		.img-wrap::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background: #141414;
			opacity: 0;
			width: 100%;
			height: 100%;
			transition: opacity .2s ease-in-out;
		}

			.projects-gallery__item:hover .img-wrap::before{
				opacity: 0.5;
			}

		.img-wrap::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			border: 1px solid #fff;
			transform: scaleX(0.9) translateY(20px);
			width: 100%;
			height: 100%;
			display: none;
			transition: display .5s ease-in-out;
		}

		.img-wrap::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background: url('../img/eye.png') left top no-repeat;
			width: 50px;
			height: 100%;
			display: none;
			transition: display .5s ease-in-out;
		}

			.projects-gallery__item:hover .img-wrap::after{
				display: block;
			}
	
	.card-desc {
		text-align: center;
	}

		.card-name {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.75rem;
		color: rgba(51, 51, 51, .5);
		padding: 0;
		margin: 0 0 20px 0;
		
	}
	.card-title {
		width: 170px;
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		font-size: 1.75rem;
		color: #333333;
		line-height: 2.375rem;
		padding: 0;
		margin: 0 auto 20px;
	}
	.card-date {
		font-weight: 300;
		font-size: 0.875rem;
		line-height: 1.75rem;
		color: rgba(51, 51, 51, .5);
		padding: 0;
		margin: 0;
	}
	.projects-card {
		margin: 0;
		padding: 0 0 35px 0;
	}

/***
*
* CLIENTS
*
***/

	.clients-wrap {
		display: flex;
		justify-content: space-between;
	}

		.clients-title {
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 3rem;
			color: #333333;
			line-height: 2.375rem;
			padding: 0;
			margin: 0 0 35px 0;
		}

		.clients-subtitle {
			font-weight: 300;
			font-size: 1.125rem;
			line-height: 1.75rem;
			color: #333333;
			width: 225px;
			padding: 0;
			margin: 0;
		}


	.clients__list {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		align-items: center;
		/* padding: 0; */
		margin: -35px 0;
	}

		.clients-icon {
			width: 639px;
		}

		.clients__link {
			/* display: inline-block; */
			/* width: 120px; */
			/* text-align: center; */
		}

		.clients__items {
			margin: 35px 0;
			width: 120px;
			display: flex;
			justify-content: center;
		}

/***
*
* FOOTER
*
***/

	.footer {
		background: #f5f5f5;
	}

		.footer-container {
			padding: 140px 0 100px 0;
		}

		.footer-contacts--wrap {
			padding: 95px 0 0 0; 
			position: relative;
			margin: 0 0 95px 0;
		}

		.footer-contacts {
			padding: 55px 240px 75px 60px;
			background: #fff;
			display: inline-block;
			position: relative;
			z-index: 99;
		}


		.footer-contacts-title{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 1.75rem;
			color: #141414;
			line-height: 2.375rem;
			width: 300px;
			padding: 0;
			margin: 0 0 50px 0;
		}
		
		.contacts-icon {
			margin: 0 20px 0 0;
		}

		.footer-contacts__item {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
		}

		.footer-contacts__item:last-child {
			margin-bottom: 0;
		}

		.footer-contacts__list {
			padding: 0;
			margin: 0;
		}

		.footer-map {
			position: absolute;
			bottom: 60px;
			right: 0;
		}


		
	.footer__social__link {
		color: rgba(20, 20, 20, .5);
		transition: color .2s ease-in-out;
	}

	.footer__social__link:hover {
		color: #141414;
	}

	.copy {
		font-weight: 300;
		font-size: 0.75rem;
		line-height: 1.75rem;
		color: rgba(51, 51, 51, .5);
		padding: 0;
		margin: 0;
	}